<html>
    <head>
        <style>
            body {
                text-align: center;
                font-family: Verdana;
                margin: 10em auto;
            }
        </style>
    </head>
    <body>
        <h1>
            Your Guess: <%= guess %>
        </h1>
        <p>
            <%= message %>
        </p>

        <form>
            <input type="text" name="guess">
            <input type="submit" value="Make a Guess!">
        </form>

        <p>
            <% if guess == num %>
                The SECRET NUMBER is <%= num %>
            <% end %>
        </p>
    </body>
</html>