<html>
    <head></head>
    <body>
        <p>
            <% if defined?message %>
                <%= message %>
            <% else %>
                Guess a number between 0 and 100!
            <% end %>
        </p>

        <form>
            <input type="text" name="guess">
            <input type="submit" value="Make a Guess!">
        </form>

        <p>
            <% if guess == num %>
                The SECRET NUMBER is <%= num %>
            <% end %>
        </p>
    </body>
</html>